@charset "UTF-8";

/* By Luke Chulack */

/* snap font */
@font-face {
    font-family: 'snap_itcregular';
    src: url('fonts/Snap_ITC_Regular/design.graffiti.snap____-webfont.woff2') format('woff2'),
         url('fonts/Snap_ITC_Regular/design.graffiti.snap____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* font for nav links  */
.nav_link_p {
    
    font-family: 'snap_itcregular';
    color: black;
}

.nav_link_p:hover {
    
    text-decoration: underline;
}


/* Hero section Selector */
#the_hero {
    /* nothing yet */
   
}


/* hero image Selector for jumbotron */
.jumbotron {

    background-image: url(../media/images/other/jumbo/jumbo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 700px;

 }


/* About section Selector */
#about {
    /* nothing yet */

}

/* info_on_us section Selector */
#info_on_us {
    /* nothing yet */
    
}

/* Products section Selector */
#products {
    
    /* nothing yet */
    
}


/* simple mobile first media query setup */
@media only screen and (min-width: 700px) {
    /* nothing yet */
    
}