@charset "utf-8";

/* Luke Chulack 11/20/2020 */


body {  
    background-image: url("../images/yogamobile.png");

    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
  
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
    
     font-weight: bold; 
     display: block;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
    padding: 0.5em;
 
}

main ul {
    
    list-style-image: url("../images/yogabullet.png");
    margin-left: 3em;
}


main img {
    
    display: none;
    
}


.schedule {
    border-collapse: collapse;
    border: black 1px solid;
    width: 100%;
    margin-bottom: 0.5em;
    
}

td {
    
    border: black 1px solid;
    text-align: center;
    
}

address {
    
       margin-bottom: 0.5em;
}

nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    
}


/* Tablet */
@media only screen and (min-width: 641px) {
    
    nav li {
        
         display: inline;
        
    }
    
    header {
        

        background-image: url("../images/lilyheader.jpg");
        background-position: right;
        background-repeat: no-repeat;
        
    }

    main img {
    
    display: inline;
    
    }
    
    body {
        background-color: #F5F5F5; 
    }
}