@charset "utf-8";


html, body {

    margin: 0px;
    height: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100%;

}


.back1 {

    background-image: url("../media/images/back1.jpeg");


}


.back2 {

    background-image: url("../media/images/back2.jpeg");

}

#main_content {


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    height: 40%;
    padding: 3rem;
}

button {

    background-color: antiquewhite;
    height: 40px;
    border: 0;

}