@charset "utf-8";

/* Luke Chulack 11/12/2020 */
/* full page style */

/*import fonts */



/* html and body */
body {
    

    overflow: hidden;
 white-space: nowrap;
 background-image: url(../images/back.jpg);
 margin: 0;
 padding: 0;
    
  background-position: center center;
  

  background-repeat: no-repeat;
  

  background-attachment: fixed;
  

  background-size: cover;

}



/* main style */
main {
    
 
}

/* home page info */


#homepage_info {
    
   
  color: white;
  text-align: center;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    
}

#about_button {
    
    font-size: 20px;
    width: 300px;
    height: 60px;
    background-color: orange;
    border: orange 1px solid;
   
}

#h2_home {
    
    font-size: 40px;
    margin-bottom: 7px;
   
    

}

#h1_home {
    
    font-size: 40px;
    margin-bottom: 15px;
    
 
}
/* nav bar style */

nav {
    
   
    background-color: black;
    overflow: hidden;
     
 height: 100%;
    
    
}

nav a {
    
    padding: 1em;
    color: aliceblue;
    text-decoration: none;
    
    
}

ul {
    
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  text-align: right;
  display:inline-block;
  vertical-align:top;
    

}


li a:hover {
    
    color: lightgreen;
    
}



nav li {
  float: left;
  list-style-type: none;
    
}


li a {
  display: block;
  color: white;
    
}

/* footer style */

footer {
    background-color: darkgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    width: 100%;
	clear: left;
    overflow: hidden;
}


footer li {
    
     float: left;
     list-style-type: none;
     
}

footer img {
    
    text-align: center;
  
}


/* about code */

#about_wrapper {
    
    word-wrap: break-word;
    white-space:pre-wrap;
    
   
    width: 70%;
 
    background: white;
    color: black;
    margin-left: 15%;
	margin-top: 10%;
    position: fixed;
    box-sizing: border-box;
    padding: 5% 5%;

    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


#about_wrapper h2 {
    
    border-bottom: 1px solid gray;
    text-align: center;
}

/* form connact style */

#form_connact {
    width: 70%;
    
    background: white;
    color: black;
    margin-left: 15%;
	margin-top: 10%;
    position: fixed;
    box-sizing: border-box;
    padding: 5% 5%;

    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.input_form {
    
    width: 100%;
    margin-bottom: 20px;
   
}

.input_button {
    
    width: 100px;
    height: 30px;
    
}

#input_message {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    resize: none;
    
    
}


#form_connact h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


#input_sub {
    width: 100%;
    
}

/* exprience  style */



#table_info {
    background: white;
    margin: 0 auto;
    word-wrap: break-word;
    white-space:pre-wrap;
    width: 70%;
    height: 70%;

    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0.5em;

}

#table_info h2 {
    
    border-bottom: gray 1px solid;
    margin-bottom: 1px;
    text-align: center;
    
}














