@charset "utf-8";

/* Luke Chulack 11/12/2020 */
/* table style */

table{
  width: 100%;
    
    


}

td, th {
	border: 2px solid black;
    font-family: 'Roboto', sans-serif, serif;
}


th {
    
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  font-family: 'Goldman', cursive, sans-serif;  
    
}